<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UserManagement.Properties.Settings.user_managementConnectionString"
            connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=user_management;Character Set=UTF8"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>